@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F7FA;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 10px 16px 0px rgba(102, 102, 102, 0.20);
}

nav > a {
    width: 70px;
    text-align: center;
}

nav img {
    width: 75px;
}

main {
    padding: 100px 20px 20px;
    margin: 0 auto;
    flex: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.post-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
        height: 500px;
        overflow-y: scroll;
}

.post-item {
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.post-item:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.popup {
    display: none;
    position: fixed;
    top: 50%; /* 중앙 위치 설정 */
    left: 50%; /* 중앙 위치 설정 */
    transform: translate(-50%, -50%); /* 화면 중앙에 배치 */
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    height: calc(590px + 55px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    z-index: 20;
    border-radius: 10px;
    background-color: #fff;
    row-gap: 10px;
    padding: 20px;
}


.popup-header, .popup-body {
    background-color: #F4F7FA;
    padding: 10px;
    border-radius: 10px;
}

.popup-header {
    height: 10%;
    display: flex;
    align-items: center;
}

.popup-body {
    height: 90%;
}

.popup-content {
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
}

.popup-close {
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    background-color: #7EF899;
    width: 100%;
    text-align: center;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.plus-button {
    position: fixed; /* 고정 위치로 변경 */
    bottom: 80px; /* 화면 하단에서 20px */
    right: 20px; /* 화면 오른쪽에서 20px */
    border: 0;
    background-color: transparent;
    z-index: 5; /* 다른 요소 위에 나타나도록 z-index 설정 */
}

.plus-button > i {
    font-size: 50px;
}

footer {
    display: none;
}

/* 반응형 디자인 설정 */
@media (max-width: 1024px) {
    .post-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    nav > a {
        display: none;
    }

    nav > a:nth-child(3) {
        display: block;
    }
    footer {
        background-color: white;
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer i {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    main {
        margin-top: 5%;
    }
    .post-list {
        grid-template-columns: 1fr;
        height: 100%;
    }
    .post-item {
        padding: 12px;
        font-size: 16px;
    }

}

@media (max-width: 500px) {
    main {
        padding: 0px 5%;
    }
    .post-list {
        height: 500px;
        overflow-y: scroll;
    }
    .post-item {
        padding: 10px;
        font-size: 16px;
        height: 50px;
        display: flex;
        align-items: center;
    }
    footer {
        height: 60px;
    }
}
