@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%; /* 전체 너비에 맞춤 */
    z-index: -1;
    display: grid;
    place-items: center;
    background-color: #F4F7FA;
}

a {
    color: black;
    text-decoration: none;  
}

/* 네비게이션 바 */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 16px 0px rgba(102, 102, 102, 0.20);
    z-index: 10;
    background-color: white;
    height: 70px;
}

nav > a {
    width: 70px;
    text-align: center;
}

nav img {
    width: 75px;
}

.plus-button {
    position: fixed; /* 고정 위치로 변경 */
    bottom: 80px; /* 화면 하단에서 20px */
    right: 20px; /* 화면 오른쪽에서 20px */
    border: 0;
    background-color: transparent;
    z-index: 5; /* 다른 요소 위에 나타나도록 z-index 설정 */
}

.plus-button > i {
    font-size: 50px;
}

.bi-plus-circle-fill {
    font-size: 80px;
}

main {
    margin-top: calc(70px + 30px); /* 네비게이션 바를 고려한 여백 */
    width: 100%; /* 부모 너비에 맞춤 */
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 중앙 정렬 */
}

#diary-list {
    display: grid;
    width: 100%; /* 부모 너비에 맞춤 */
    height: 100%; /* 부모 높이에 맞춤 */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* 반응형 그리드 */
    place-items: center;
    column-gap: 40px;
    row-gap: 40px;
    padding: 0 5%;
}

.diary-content {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(102, 102, 102, 0.20);
    display: flex; /* Flexbox로 조정 */
    flex-direction: column; /* 자식 요소 수직 정렬 */
    justify-content: flex-start; /* 자식 요소 사이 공간 분배 */
    width: 100%; /* 부모 너비에 맞춤 */
    max-width: 400px; /* 최대 너비 제한 */
    height: calc(550px + 40px);
    position: relative;
    row-gap: 20px;
    transition: all 0.5s linear;
}

.diary-content:hover {
    transform: translateY(-10px);
}

.diary-content > img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
}

.diary-content > h5 {
    font-size: 36px;
}

.diary-content > p {
    row-gap: 0;
    word-break: break-all;
    font-size: 20px;
}

.diary-content > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diary-content > button {
    border: 0;
    padding: 10px 10%;
    position: absolute;
    bottom: 20px;
    width: 90%;
    left: 20px;
    height: 44px;
    border-radius: 10px;
    background-color: #F4F7FA;
    font-size: 20px;
    color: black;
}

.diary-content > button:hover {
    background-color: #7EF899;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
    height: calc(590px + 55px);
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    z-index: 50;
    overflow-y: auto;
    border-radius: 10px;

}

.popup.active {
    display: block;
}

.popup-close {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    background-color: #F4F7FA;
    color: black;
    bottom: 20px;
    width: 96%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.popup-close:hover {
    background-color: #7EF899;
}

.popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popup-items {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}

.popup-items > div {
    background-color: #F7F7F7;
    padding: 10px 15px;
    border-radius: 10px;
}

.popup-items > div > p:nth-child(2) {
    font-size: 20px;
}

#date {
    width: 20%;
}

#best-player {
    width: 20%;
}

#pitcher {
    width: 15%;
}

#stadium {
    width: 30%;
}

#win-lose {
    width: 10%;
}

.popup-title {
    background-color: #F7F7F7;
    padding: 10px 46px 10px 15px;
    margin-bottom: 12px;
    border-radius: 10px;
}

.popup-title > p:nth-child(2) {
    font-size: 20px;
}

.popup-contents {
    background-color: #F7F7F7;
    padding: 10px 46px 10px 15px;
    height: 400px;
    border-radius: 10px;
}

.popup-contents > p:nth-child(2) {
    font-size: 20px;
}

.popup-image > img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

footer {
    display: none;
}

@media (max-width: 900px) {
    #date {
        width: 20%;
    }
    
    #best-player {
        width: 18%;
    }
    
    #pitcher {
        width: 15%;
    }
    
    #stadium {
        width: 33%;
    }
    
    #win-lose {
        width: 10%;
    }

    .popup {
        width: 90%;
        height: (auto + 10px);
        max-width: none;
        font-size: 12px;
        overflow: hidden;
    }

    .popup-items {
        row-gap: 15px;
        column-gap: 0;
        flex-wrap: wrap;
    }

    .popup-items > div {
        width: fit-content;
        white-space: nowrap;
        padding: 10px 10px;
    }

    .popup-items > div > p:last-child{
        font-size: 16px;
    }

    .popup-title, .popup-contents {
        padding: 10px 10px;
    }

    .popup-title > p:last-child {
        font-size: 16px;
    }

    .popup-contents > p:last-child {
        font-size: 16px;
    }

    .popup-contents {
        height: 69%;
    }

    .popup-close {
        padding: 12px;
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    nav > a {
        display: none;
    }

    nav > a:nth-child(3) {
        display: block;
    }
    
    footer {
        background-color: white;
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer i {
        font-size: 20px;
    }
}

@media (max-width: 670px) {
    
    #date {
        width: 30%;
    }
    
    #best-player {
        width: 35%;
    }
    
    #pitcher {
        width: 30%;
    }
    
    #stadium {
        width: 60%;
    }
    
    #win-lose {
        width: 35%;
    }

    .popup-contents {
        height: 58%;
    }

    #diary-list {
        margin-bottom: calc(70px + 20px);
        display: flex;
        flex-direction: column;
    }

    .popup-close {
        width: 89%;
    }
}


