@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F7FA;
}

a {
    color: black;
    text-decoration: none;
}

/* 네비게이션 바 */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 10px 16px 0px rgba(102, 102, 102, 0.20);
}

nav > a {
    width: 70px;
    text-align: center;
}

nav img {
    width: 75px;
}

.mypage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; /* 기본 너비 */
}

footer {
    display: none;
}

/* 네비게이션 바에서 모바일 화면 대응 */
@media (max-width: 800px) {
    nav > a {
        display: none;
    }

    nav > a:nth-child(3) {
        display: block;
    }

    .mypage-container > h2 {
        font-size: 40px;
    }

    footer {
        background-color: white;
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer i {
        font-size: 20px;
    }
}


/* 반응형 - 500px 미만일 때 너비 변경 */
@media (max-width: 500px) {
    .mypage-container {
        width: 90%; /* 500px 이하일 때 너비 */
    }
}

.mypage-container > h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 24px;
    justify-content: flex-start;
}

.image-container > img {
    width: 70px;
    height: 70px;
}

.addition-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#userid {
    font-size: 20px;
}

.button-container {
    display: flex;
    column-gap: 8px;
}

.image-button, .del-button {
    background-color: white;
    border: 1px solid #222222;
    padding: 6px 24px;
    border-radius: 5px;
}

.image-button > label, .del-button > input {
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.personal-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 40px;
}

.personal-info-container > p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}

.phonenum-container, .password-container, .team-container {
    position: relative;
}

.phonenum-container > p:first-child, .password-container > p:first-child, .team-container > p:first-child {
    font-weight: bold;
}

.personal-info-container > .phonenum-container > button,
.personal-info-container > .password-container > button,
.personal-info-container > .team-container > button {
    position: absolute;
    right: 15px;
    bottom: 20px;
    background-color: white;
    border: 1px solid #222222;
    padding: 6px 24px;
    border-radius: 5px;
}

#phonenum, #password, #team {
    font-size: 16px;
}

.border {
    width: 100%;
    height: 1px;
    background-color: #222222;
    margin: 10px 0;
}

#submitButton {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 18px;
    background-color: #7EF899;
    font-size: 16px;
    color: white;
}

